@using BiciSendas.Recursos
@model BiciSendas.Areas.Operaciones.Models.Actuadores.ActuadorIndexVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}@

@{
    ViewData["Title"] = "Actuadores";
        
    <!-- Todo dropdow numRegistros -->
        <div class="col-lg-4">
            @Html.DropDownListFor(m => m.NumPagina, Model.Paginas, new {htmlAttributtes = new {@class="form-control"}})
        </div>
        
    <div id="ListaActuadores" class="col-xs-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">@ActuadorStrings.Identificador</th>
          <th scope="col">@ActuadorStrings.Nombre</th>
          <th scope="col">@ActuadorStrings.TipoActuador</th>
          <th scope="col">@ActuadorStrings.FechaModificacion</th>
          <th scope="col">@ActuadorStrings.Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         
        </tr
      </tbody>
    </table>
    </div>
}
